.navigation .navbar {
  border-radius: 0px; }

.navigation .navbar-default {
  background-color: #A42A2A;
  padding: 10px;
  border: none;
  margin: 0px; }
  .navigation .navbar-default .navbar-brand {
    font-size: 25px;
    letter-spacing: 2px;
    color: #FDD03C;
    font-family: 'Alfa Slab One'; }
  .navigation .navbar-default .navbar-brand:hover {
    color: #f5bc02; }
  .navigation .navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Courier New', Courier, monospace; }
  .navigation .navbar-default__menu {
    display: inline-block;
    color: white; }
  .navigation .navbar-default .navbar-toggle {
    border-color: #FDD03C;
    background-color: #FDD03C;
    padding: 9px 9px 0px 9px; }
  .navigation .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }

.carousel img {
  width: 100%; }

.figure {
  padding: 50px 0px; }
  .figure__item--main, .figure__item--exceptional-features {
    text-align: center; }
  .figure__item--main-context {
    padding: 0px 150px; }
  .figure__img, .figure__img--main-context {
    width: 100%; }
  .figure__item {
    position: relative;
    margin: 100px 30px; }
    .figure__item .col-lg-7, .figure__item .col-md-7, .figure__item .col-sm-7 {
      position: relative; }
      .figure__item .col-lg-7__text, .figure__item .col-md-7__text, .figure__item .col-sm-7__text {
        position: absolute;
        bottom: 0; }
    .figure__item .figure__observe {
      float: right; }
    .figure__item--exceptional-features {
      margin: 0px 30px; }
      .figure__item--exceptional-features__img {
        height: auto;
        width: 100%; }
      .figure__item--exceptional-features__div {
        margin: 30px 0px;
        padding-bottom: 10px;
        background-color: white;
        text-align: center; }

.figure--background, .supports {
  padding: 100px 0px;
  background-color: #EDEDED; }

.accessories {
  position: relative;
  text-align: center; }
  .accessories__item {
    position: relative;
    width: 100%; }
  .accessories__item:before {
    content: "";
    width: 2px;
    background: #f3e8e8;
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    z-index: 1; }
  .accessories__div {
    position: relative;
    margin: 100px 0px; }
    .accessories__div--left {
      width: 35%;
      position: absolute;
      left: 30px;
      text-align: right; }
    .accessories__div--right {
      width: 35%;
      position: absolute;
      right: 30px;
      text-align: left; }
  .accessories__img {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: block;
    width: 15%;
    border: #f3e8e8 solid 5px;
    border-radius: 100%; }
    .accessories__img--logo {
      background-color: gold;
      padding-bottom: 40px; }
  .accessories__logo--text {
    position: absolute;
    z-index: 3;
    margin-top: -37px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white; }

.supports {
  text-align: center; }
  .supports__img {
    border: #f3e8e8 solid 5px;
    border-radius: 100%; }

.fa-stack-1x {
  color: white; }

.fa-bgcolor {
  color: black; }

.brand {
  padding: 40px 0px;
  text-align: center; }

.contacts {
  background-color: black;
  height: 730px;
  padding: 100px 0px; }
  .contacts__title {
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 30px; }
  .contacts input, .contacts textarea {
    color: black;
    margin-bottom: 25px;
    height: 40px; }
  .contacts__btn {
    height: 40px; }

@media only screen and (max-width: 736px) {
  .figure__item--main-context {
    padding: 0px; }
  .figure__img--main-context {
    width: 70%; }
  .figure__img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .figure__item {
    position: relative;
    margin: 0px; }
    .figure__item .col-lg-7, .figure__item .col-md-7, .figure__item .col-sm-7 {
      position: relative; }
      .figure__item .col-lg-7__text, .figure__item .col-md-7__text, .figure__item .col-sm-7__text {
        position: absolute;
        bottom: 0; }
    .figure__item .col-lg-5, .figure__item .col-md-5, .figure__item .col-sm-5 {
      float: left; }
    .figure__item--exceptional-features {
      margin: 0px; }
      .figure__item--exceptional-features__img {
        height: auto;
        width: 100%; }
      .figure__item--exceptional-features__div {
        margin: 10px 0px;
        background-color: white;
        text-align: center; }
  .accessories {
    position: relative;
    text-align: center; }
    .accessories__item {
      position: relative;
      width: 100%; }
    .accessories__item:before {
      content: "";
      width: 2px;
      background: #f3e8e8;
      position: absolute;
      top: 0;
      left: 10%;
      display: block;
      height: 100%;
      z-index: 1; }
    .accessories__div {
      margin: 20px 0px;
      position: unset;
      height: 200px; }
      .accessories__div--right, .accessories__div--left {
        position: unset;
        float: right;
        text-align: left;
        width: 75%;
        height: 100%; }
    .accessories__img {
      position: relative;
      text-align: right;
      z-index: 2;
      display: block;
      width: 20%;
      border: #f3e8e8 solid 2px;
      border-radius: 100%; }
      .accessories__img--logo {
        background-color: gold;
        clear: both;
        text-align: right;
        float: left; }
    .accessories__logo--text {
      margin-top: -20px;
      text-align: center;
      font-weight: bold;
      font-size: 70%;
      color: white; }
  .brand {
    padding: 20px 10px;
    text-align: center; }
    .brand__img {
      width: 90%;
      margin: 10px 0px; } }
