
.navigation{
    .navbar{
        border-radius: 0px;
    }
    .navbar-default{
        background-color: #A42A2A;
        padding: 10px;
        border: none;
        margin: 0px;
        .navbar-brand{
            font-size: 25px;
            letter-spacing: 2px;
            color: #FDD03C;
            font-family: 'Alfa Slab One';
        }
        .navbar-brand:hover{
            color: #f5bc02;
        }
        .navbar-nav>li>a{
            color: white;
            font-family:'Courier New', Courier, monospace;
        }
        &__menu{
            display: inline-block;
            color: white;
        }
        .navbar-toggle{
            border-color: #FDD03C;
            background-color:#FDD03C ;
            padding: 9px 9px 0px 9px;
        }
        .navbar-toggle .icon-bar{
            background-color: white;
        }
    }
}
.carousel{
    img{
        width: 100%;
    }
}
.figure{
    padding: 50px 0px;
    &__item--main, &__item--exceptional-features{
        text-align: center;
    }
    &__item--main-context
    {
        padding: 0px 150px;
    }
    &__img, &__img--main-context{
        width: 100%;
    }
    &__item{
        position: relative;
        margin: 100px 30px;
        .col-lg-7 ,.col-md-7 ,.col-sm-7 {
            position: relative;
            &__text{
                position: absolute;
                bottom: 0;
            }
        }
        .figure__observe{
            float: right;
        }
        &--exceptional-features{
            margin: 0px 30px;
            &__img{
                height: auto;
                width: 100%;
            }
            &__div{
                margin: 30px 0px;
                padding-bottom: 10px;
                background-color: white;
                text-align: center;
            }
        }
    }
}
.figure--background , .supports{
    padding: 100px 0px;
    background-color: #EDEDED;
}
.accessories{
    position: relative;
    text-align: center;
    &__item{
        position: relative;
        width: 100%;
    }
    &__item:before{
        content: "";
        width: 2px;
        background: rgb(243, 232, 232);
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        height: 100%;
        z-index: 1;
    }
    &__div{
        position: relative;
        margin: 100px 0px;
        &--left{
        width: 35%;
        position: absolute;
        left: 30px;
        text-align: right;
        }
        &--right{
        width: 35%;
        position: absolute;
        right:  30px;
        text-align: left;
        }
    }
    
    &__img{
        position: relative;
        z-index: 2;
        margin: 0 auto;
        display: block;
        width: 15%;
        border: rgb(243, 232, 232) solid 5px;
        border-radius: 100%;
        &--logo{
            background-color: gold;
            padding-bottom: 40px;
        }
    }
    &__logo--text{
        position: absolute;
        z-index: 3;
        margin-top: -37px;
        top: 50%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
}
.supports{
    text-align: center;
    &__img{
        border: rgb(243, 232, 232) solid 5px;
        border-radius: 100%;
    }
}
.fa-stack-1x {
    color:white;
}
.fa-bgcolor{
   color:black;
}
.brand{
    padding: 40px 0px;
    text-align: center;
}
.contacts{
    background-color: black;
    height: 730px;
    padding: 100px 0px;
    &__title{
        color: white;
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
    }
    input, textarea{
        color: black;
        margin-bottom: 25px;
        height: 40px;
    }
    &__btn{
        height: 40px;
    }
}
@media only screen and (max-width : 736px)
{
    .figure{
        &__item--main-context{
        padding: 0px;
        }
        &__img--main-context{
            width: 70%;
        }
        &__img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        &__item{
            position: relative;
            margin: 0px;
            .col-lg-7 ,.col-md-7 ,.col-sm-7 {
                position: relative;
                &__text{
                    position: absolute;
                    bottom: 0;
                }
            }
            .col-lg-5 ,.col-md-5 ,.col-sm-5{
                float: left;
            }
            &--exceptional-features{
                margin: 0px;
                &__img{
                    height: auto;
                    width: 100%;
                }
                &__div{
                    margin: 10px 0px;
                    background-color: white;
                    text-align: center;
                }
            }
        }
    }
    .accessories{
        position: relative;
        text-align: center;
        &__item{
            position: relative;
            width: 100%;
        }
        &__item:before{
            content: "";
            width: 2px;
            background: rgb(243, 232, 232);
            position: absolute;
            top: 0;
            left: 10%;
            display: block;
            height: 100%;
            z-index: 1;
        }
        &__div{
            margin: 20px 0px;
            position: unset;
            height: 200px;
            &--right, &--left{
            position: unset;
            float: right;
            text-align: left;
            width: 75%;
            height: 100%;
            }
        }
        &__img{
            position: relative;
            text-align: right;
            z-index: 2;
            display: block;
            width: 20%;
            border: rgb(243, 232, 232) solid 2px;
            border-radius: 100%;
            &--logo{
                background-color: gold;
                clear: both;
                text-align: right;
                float: left;
            }
        }
        &__logo--text{
            margin-top: -20px;
            text-align: center;
            font-weight: bold;
            font-size: 70%;
            color: white;
        }
    }
    .brand{
        padding: 20px 10px;
        text-align: center;
        &__img{
            width: 90%;
            margin: 10px 0px;
        }
    }
}