<div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                        <img class="accessories__img" src="images/tai-nghe-ep-xmobile-ep-m4-den-do-avatar-300x300.jpg">
                        <div class="accessories_line"></div>
                        <img class="accessories__img" src="images/the-nho-microsd-16gb-class-10-7-300x300.jpg">
                        <img class="accessories__img" src="images/pin-sac-du-phong-esaver-10000-mah-la-y325-300x300.jpg">
                        <img class="accessories__img" id="accessories__img-1" src="images/fenda-u213a-8-300x300.jpg">
                        <div class="accessories__logo--text">
                            <p>GALAXY</p>
                            <p>SAMSUNG</p>
                        </div>
                        <img class="accessories__img accessories__img--logo">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="accessories__div">
                                <h4>XMOBILE EP-M4</h4>
                                <h4>Tai nghe nhét trong Xmobile EP-M4</h4>
                                <p>Dây dài 120 cm, tương thích tốt với nhiều dòng điện thoại. Tai nghe dạng nút giúp cách âm tốt
                                    với bên ngoài. Có nút nhận cuộc gọi, ngừng/chơi nhạc.</p>
                            </div>
                            <div class="accessories__div">
                                <h4>MICRO SD</h4>
                                <h4>Thẻ nhớ Micro SD 16GB Class 10</h4>
                                <p>Thương hiệu uy tín: Transencd, Apacer, SanDisk. Tốc độ đọc: 30MB/s, tốc độ ghi: 10MB/s. Lưu trữ
                                    hơn 15.500 tấm ảnh (1 tấm ~1.5MB). Tương thích với hầu hết điện thoại, máy tính bảng.
                                </p>
                            </div>
                            <div class="accessories__div">
                                <h4>ESAVER</h4>
                                <h4>Pin sạc dự phòng eSaver 10.000 mAh LA Y325</h4>
                                <p>
                                    Sạc 4 lần thiết bị pin dưới 1.500 mAh, 2 lần dưới 3.500 mAh. Sử dụng lõi pin Li-Ion an toàn. Sạc được cho mọi điện thoại
                                    và máy tính bảng. Bộ sản phẩm gồm: pin sạc.
                                </p>
                            </div>
                            <div class="accessories__div">
                                <h4>FENDA</h4>
                                <h4>Loa vi tính Fenda U213A - 2.0</h4>
                                <p>Thiết kế 2 loa rất nhỏ gọn chỉ khoảng 11 cm, không chiếm diện tích. Âm lượng loa phát ra khá
                                    lớn khi nghe nhạc hay xem phim. Cực dễ dùng, chỉ cần gắn cáp vào laptop để cấp điện loa.
                                    Jack cắm 3.5mm đi kèm để bạn phát nhạc từ điện thoại, laptop...
                                </p>
                            </div>
                        </div>
                        text-align: center;
    position: relative;
    margin: 100px 0px;
    width: 100%;
    height: 100%;
    